### Any port you run application
APP_PORT=3000  

### DB_HOST could be remote host, proxy or localhost URL but must me mysql
DB_HOST= env-example-db.cfasdfasr34dsadc4.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=test_db

### From where you want use Credentials
### Options Could be  
### 1. from_secret  (to pass creds from aws secret)
### 2. from_env  (to pass creds from env)

CRED= from_secret

### If you are Passing Credentials Directly from ENV
DB_USER= test_user
DB_PASSWORD= test_0000

### If you are using AWS Secret Manager 
AWS_REGION = us-east-1
AWS_SECRET_NAME = test-secret-manager